.custom-button {
  background-color: hsl(245, 75%, 52%);
  width: 90%;
  color: white;
  padding: 5% 0;
  border-radius: 10px;
  border: none;
  margin-bottom: 4%;
  font-size: 16px;
  font-weight: 700;
  filter: drop-shadow(0px 8px 4px rgb(56, 41, 224, 0.2));
  &:active {
    background-color: #766cf1;
  }
}
.custom-button.cancel {
  color: gray;
  background-color: white;
  margin: 0;
  filter: none;
  &:active {
    color: #353d53;
  }
}
